<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Cornerstone Housing Inc">
      <meta name="keywords" content="Affordable Housing,Housing,Homelessness,Real Estate,Sustainable,Homeless Children,Senior Housing,Real Estate- Sarasota Florida,Apartments,Donate or Donations,Transforming Lives,
        ,Need for Housing,,Giving,,Charities,,Housing First,Sarasota Housing">
      <meta name="author" content="John Perry">

      <title>Cornerstone Housing Inc.</title>
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/icons.css">
      <link rel="stylesheet" href="css/responsee.css">
      <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="owl-carousel/owl.theme.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-960">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
               <div class="s-6 l-4">
                  <img src="img/cth_doc_pic.png">
               </div>
            </div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav class="margin-bottom">
               <p class="nav-text">Custom menu text</p>
               <div class="top-nav s-12 l-10">
                  <ul>
                     <li><a>Home</a></li>

                  </ul>
               </div>
               <div class="hide-s hide-m l-2">
                  <i class="icon-facebook_circle icon2x right padding"></i>
               </div>
            </nav>
         </div>
      </header>
      <section>
        <!-- GALLERY CAROUSEL -->
        <div class="line">
           <h2>The Journey : Homelessness</h2>
           <div id="owl-demo2" class="owl-carousel margin-bottom">
              <div class="item"><img src="img/feet-poor.jpg" alt="" /></div>
              <div class="item"><img src="img/homeless-car.jpeg" alt="" /></div>
              <div class="item"><img src="img/homeless_definition.jpg" alt="" /></div>
              <div class="item"><img src="img/street-tips.png" alt="" /></div>
              <div class="item"><img src="img/homeless_rect.jpg" alt="" /></div>

              <div class="item"><img src="img/child-homeless.jpg" alt="" /></div>
              <div class="item"><img src="img/homeless-car.jpg" alt="" /></div>
              <div class="item"><img src="img/homeless.jpg" alt="" /></div>
              <div class="item"><img src="img/man-homeless.jpg" alt="" /></div>
              <div class="item"><img src="img/man-homeless-2.jpg" alt="" /></div>
              <div class="item"><img src="img/women-homeless.jpg" alt="" /></div>
              <div class="item"><img src="img/slc_homeless_1.jpg" alt="" /></div>
           </div>
        </div>

         <!-- HOME PAGE BLOCK -->
         <div class="line">
            <div class="margin">
               <div class="s-12 l-6 margin-bottom">
                  <div class="box">
                     <h2>Our Mission</h2>
                     <p>CORNERSTONE HOUSING INC.
                        Our purpose is to build new and rehabilitate rental housing to accommodate low-income, homeless, and the less fortunate individuals of Florida.
                        To also supply social services and counseling that will enable them to achieve the greatest social and economic independence at the lowest cost to society.
                        <p>
                    &nbsp;
                  </p></p>
                  </div>
               </div>
               <div class="s-12 l-6 margin-bottom">
                  <div class="box">
                     <h2>Our Vision</h2>
                     <p>Cornerstone Housing Inc. is working to create more humane communities in which we work, where these communities are healthy and all people can develop their God given, full potential.
                       We believe that affordable housing and support programs improve the economic status of residents, transform neighborhoods and stabilize lives. We strongly believe that:
                       <strong>HOPE BEGINS WITH HOUSING</strong>
                     </p>
                  </div>
               </div>

            </div>
         </div>
         <!-- ASIDE NAV AND CONTENT -->
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h1>THE LACK OF AFFORDABLE HOUSING!</h1>
                     <p>There is no state in this United States where a minimum wage worker working full time can afford a one-bedroom apartment at the fair market rent.
                        In Florida, the Fair Market Rent (FMR) for a two- bedroom apartment is <strong>$1,038</strong>. In order to afford this level of rent and utilities, without paying more than <strong>30%</strong> of income on housing, a household must earn <strong>$3,374</strong> monthly or <strong>$40,488</strong> annually. Assuming a 40-hour work week, 52 weeks per year this level of income
                        translates into an hourly Housing Wage of: <strong>$19.47</strong>.
                     </p>
                     <h3 style="color: red;">97</h3>
                     <p>Work Hours per Week at Minimum Wage is Needed to afford a 2-Bedroom Unit at Fair Market Rent
                     </p>
                     <h3  style="color: red;">2.4</h3>
                     <p>Number of Full-Time Jobs at Minimum Wage Needed To Afford a 2- Bedroom Unit at Fair Market Rent
                          Many renters earn far less than the Housing Wage in their community and struggle to find an affordable place to live. The report “Out of Reach” compiled by The National Low Income Housing Coalition highlights some of the economic challenges facing low income renters, including lagging wages, inconsistent job growth, and the rising cost of living. Undoubtedly, the lack of affordable
                          households, a problem made worse by these economic challenges.
                          Expanding and preserving the supply of quality, affordable housing is essential to any strategy to end homelessness, poverty, and economic inequality. As our nation’s policymakers seek ways of overcoming these social ills, access to affordable housing must be a cornerstone of any proposal.
                          A safe, stable affordable place to live keeps families healthy, helps people find and keep jobs and helps kids come to school ready to learn. A home keeps families stable and connected. Our states and our nation will be better off when we take steps to end homelessness where everyone has a safe and decent place to live. By prioritizing and investing in affordable housing, we can work to ensure that those who are at risk of homelessness are better protected from becoming homeless.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h2>Housing First The Solution to Homelessness</h2>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        lobortis nisl ut aliquip ex ea commodo consequat.
                     </p>
                     <h3>Sub Header</h3>
                     <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim assum.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h2>THE FUTURE OF AFFORDABLE HOUSING</h2>
                     <p>The need for affordable housing continues to grow, particularly the need for housing affordable to the lowest income people. Nationwide, there are only 31 units of housing affordable and available for every 100 extremely low income Americans. Federal housing assistance only serves one quarter of those who qualify for it. And special populations, such as disabled veterans returning from combat or lower income seniors, are increasing in number and need. At the same time, the existing stock of affordable rental housing is disappearing due to deterioration and the exit of private owners
from the affordable housing market. According to the National Housing Trust, our nation loses two affordable apartments each year for every one created. Local preservation efforts have seen success, and resources like the National Housing Preservation Database are helpful, but it is a race against time. Finally, the very funding structure of most affordable housing programs puts them at risk, at both the federal and local levels. The majority of federal housing programs are appropriated, meaning that the funding amounts can change from year to year, or disappear altogether. State and
local programs can be similarly volatile, because they are often dependent on revenue from fees or other market-driven sources, and are vulnerable to being swept into non-housing uses. Ensuring funding at amounts necessary to maintain programs at their current level of service, much less grow them, is a constant battle.
Our country’s current struggle with budget deficits is not a reason to defer actions to improve Americans’ access to adequate housing.
                     </p>
                     <h3>Sub Header</h3>
                     <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim assum.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h2>Scattered Site Housing</h2>
                     <p>For more than 25 years, "scattered-site" housing has been widely promoted as an alternative to the large, dense public and assisted housing developments that too often concentrated poor families in socially isolated and profoundly dehumanizing environments. Scattered- Site Housing fills an important vacuum in our
                        understanding of this
                        crucial segment of the
                        HUD-assisted housing
                        stock. Tenants in
                        scattered site housing feelbuildings that "promote welcome in their new
                        homes and prefer their new neighborhoods, where they expect their children to benefit from safer surroundings and better access to quality schools. Successful scattered-site housing
                        ndividual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue.ncludes careful tenant screening, small-scale development patterns, good design, and attractive buildings that "promote individual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue
                     </p>
                     <h3>Sub Header</h3>
                     <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim assum.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h2>Scattered Site Housing 2</h2>
                     <p>For more than 25 years, "scattered-site" housing has been widely promoted as an alternative to the large, dense public and assisted housing developments that too often concentrated poor families in socially isolated and profoundly dehumanizing environments. Scattered- Site Housing fills an important vacuum in our understanding of this crucial segment of the HUD-assisted housing
                        stock. Tenants in scattered site housing feelbuildings that "promote welcome in their new
                        homes and prefer their new neighborhoods, where they expect their children to benefit from safer surroundings and better access to quality schools. Successful scattered-site housing
                        individual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue includes careful tenant screening, small-scale development patterns, good design, and attractive buildings that "promote individual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue
                     </p>
                     <h3>Sub Header</h3>
                     <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim assum.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-12">
                     <h2>Scattered Site Housing</h2>
                     <p>For more than 25 years, "scattered-site" housing has been widely promoted as an alternative to the large, dense public and assisted housing developments that too often concentrated poor families in socially isolated and profoundly dehumanizing environments. Scattered- Site Housing fills an important vacuum in our
                        understanding of this
                        crucial segment of the
                        HUD-assisted housing
                        stock. Tenants in
                        scattered site housing feelbuildings that "promote welcome in their new
                        homes and prefer their new neighborhoods, where they expect their children to benefit from safer surroundings and better access to quality schools. Successful scattered-site housing
                        ndividual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue.ncludes careful tenant screening, small-scale development patterns, good design, and attractive buildings that "promote individual pride and care of property. The persistence of concerns over poverty concentration and quality of life that originally led to the wide spread use of scattered-site housing makes it certain that this development model will continue
                     </p>
                     <h3>Sub Header</h3>
                     <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil imperdiet doming id quod mazim placerat facer possim assum.
                     </p>
                  </article>

               </div>
            </div>
         </div>
         <div class="line">
            <div class="margin">
               <div class="s-12 l-6 margin-bottom">
                  <div class="box">
                     <h3>When a Child Has a Home</h3>
                       <video width="320" height="240" controls poster="">
                        <source src="videos/When a Child Has a Home.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                  </div>
               </div>
               <div class="s-12 l-6 margin-bottom">
                  <div class="box">
                     <h3>Homeless Children - What If</h3>
                     <video width="320" height="240" controls poster="">
                      <source src="videos/Homeless Children - what if.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                  </div>
               </div>

            </div>
         </div>
         <div class="line">
            <div class="box margin-bottom">
               <div class="margin">
                  <!-- CONTENT -->
                  <article class="s-12 m-7 l-8">
                     <h1>Contact Us</h1>
                     <p><strong>Phone- 941-313-2202
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       perryj@cornoerstonehousinginc.org</strong>


                     </p>
                     <h3>Donations</h3>
                     <p>WE NEED YOUR HELP!! <br /><br />
                        Yes! I want to help the less fortunate of Sarasota County<br />
                        I wish to make a tax-deductible contribution of $25.00	$100.00	$500.00	or Other Amount<br />
                        To keep your program moving ahead!<br />
                        <br />
                        SEND MAIL FOR THIS TAX-DEDUCTIBLE CONTRIBUTION TO:<br />
                        <br />
                        Cornerstone Housing Inc., PO BOX 17712, Sarasota, FL 34276<br />
                        <br />
                     </p>

                     <h3>Our Newsletters</h3>
                     <p>Click to Download <br /><br />
                       <!--var res = encodeURI(uri);-->
                       <a  href="docs/Cornerstone Second Newsletter 8- 2016.pdf">January 2017 Newsletter (PDF)</a>
                        <br />
                     </p>
                  </article>

               </div>
            </div>
         </div>
      </section>
      <!-- FOOTER -->
      <footer class="line">
        <div class="box">

            <div class="s-12 m-7 l-12">
              <P><strong>
                A copy of the official registration and financial information may be obtained from the division of consumer services by calling toll-free (800-435-7532) within the state. registration does not imply endorsement, approval, or recommendation by the state” registration #dtn2859302
                </strong>
            </P>
          </div>
        </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript">
         jQuery(document).ready(function($) {
           $("#owl-demo2").owlCarousel({
        		items : 4,
           	lazyLoad : true,
           	autoPlay : true,
           	navigation : true,
           	pagination : false
           });
         });
      </script>
   </body>
</html>
